CSV, JSON, XLSX

In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
fruits={
    "fruites Name": ["apple","Mango","banana"],
    "Price":[200,100,50]
}
fruits

{'fruites Name': ['apple', 'Mango', 'banana'], 'Price': [200, 100, 50]}

In [4]:
print(fruits)

{'fruites Name': ['apple', 'Mango', 'banana'], 'Price': [200, 100, 50]}

In [6]:
print(type(fruits))

<class 'dict'>

In [7]:
convert =pd.DataFrame(fruits)   #convert is variable

In [8]:
fruits

{'fruites Name': ['apple', 'Mango', 'banana'], 'Price': [200, 100, 50]}

In [9]:
convert

  fruites Name  Price
0        apple    200
1        Mango    100
2       banana     50

In [10]:
type(convert)

pandas.core.frame.DataFrame

                  ........PANDAS SERIES.....

In [11]:
z=[3,6,3,4,7]
zc=pd.Series(z)

In [12]:
zc

0    3
1    6
2    3
3    4
4    7
dtype: int64

In [13]:
print(type(zc))

<class 'pandas.core.series.Series'>

In [14]:
print(type(z))

<class 'list'>

In [15]:
zc.loc[[1,4]]

1    6
4    7
dtype: int64