In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

:

In [ ]:
data=pd.read_csv("titanic3.csv")

In [ ]:
titanic_df=pd.read_csv("titanic3.csv")
titanic_df.info()

plot function

In [ ]:
def plot(title,plot_func,*args,**kwargs):
    plt.title(title)
    plot_func(*args,**kwargs)
    plt.show()

In [ ]:
plot('visalize Missing Data',sns.heatmap,titanic_df.isnull(), cbar=True)

In [ ]:
plot("survival vs sex",sns.countplot,x='survived',hue='sex',data=titanic_df)

In [ ]:
plot("Survival vs Passenger class",sns.countplot,x='survived',hue='pclass',data=titanic_df)

In [ ]:
plot("Histogram of passengers Age",plt.hist,titanic_df["age"])

In [ ]:
plot("Histogram of ship Fare",plt.hist,titanic_df['fare'])

replacing the NaN null values with mean, median

In [ ]:
#check missing values 
print(titanic_df.isnull().sum())

In [ ]:
print(titanic_df)

In [ ]:
1015/1309

In [ ]:
#Handle missing values in 'Age' columns
titanic_df['age'].fillna(titanic_df['age'].median(),inplace=True)

#Drop the 'Cabin' column due to too many missing values
titanic_df.drop('cabin',axis=1,inplace=True)

In [ ]:
plot('Visulize Missing Data',sns.heatmap,titanic_df.isnull(),cbar=True)

In [ ]:

#Drop the 'boat' column due to too many missing values
titanic_df.drop('boat',axis=1,inplace=True)

In [ ]:
plot('Visulize Missing Data',sns.heatmap,titanic_df.isnull(),cbar=True)

In [ ]:
#Handle missing values in 'Age' columns
titanic_df['body'].fillna(titanic_df['body'].median(),inplace=True)

In [ ]:
#Drop the 'home.dest' column due to too many missing values
titanic_df.drop('home.dest',axis=1,inplace=True)

In [ ]:
plot('Visulize Missing Data',sns.heatmap,titanic_df.isnull(),cbar=True)